
<% if @leaves.blank? %>
  <p>You have no applied leaves</p>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Leave Schedule</th>
        <th scope="col">Comment</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <% @leaves.each do |leave_val| %>
      <tbody>
        <tr>
          <td>
            Start Date: <%= leave_val.startdate %><br>
            End Date: <%= leave_val.enddate %><br>
            Number of Days: <%= ((leave_val.enddate - leave_val.startdate).to_i + 1) %>
          </td>
          <td>
            <% if leave_val.comment.blank? %>
              --
            <% else %>
              <%= leave_val.comment %>
            <% end %>
          </td>
          <td>
            <%= link_to 'Edit', edit_user_leaveemp_path(current_user, leave_val) %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% end %>