<ul>
  <li><%= link_to 'Apply for Leave', new_user_leaveemp_path(current_user) %></li>
  <li><%= link_to 'Upcoming Leaves', user_upcoming_leaves_path(current_user) %></li>
  <li><%= link_to 'Leave History', user_leave_history_path(current_user) %></li>
  <li><%= link_to 'All Leaves', user_leaveemps_path(current_user) %></li>
</ul>