<% provide(:title, @title) %>

<center>
  <h2>Apply for Leave</h2>
</center>

<%= render 'leaveemps/leave_sidebar' %>

<%= form_for [current_user, @leave] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <p>
    Leave start date*: <%= f.date_field :startdate, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
  </p>

  <p>
    Leave end date*: <%= f.date_field :enddate, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
  </p>

  <p>
    Comment(If any): <%= f.text_area :comment%>
  </p>

  <%= f.submit "Apply", class: "btn btn-primary" %>
  <%= link_to 'Cancel', user_leaveemps_path(current_user), class: 'btn btn-alert' %>
<% end %>