<h1>Log In </h1>

<%=form_for(:session, url: login_path) do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <br>
      <%= f.email_field :email  %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <br>
      <%= f.password_field :password %>
    </div>
  </div>
  <br>
  <%=f.submit "Log In", class: "btn btn-primary" %>
<% end %>
<div class="container">
<%= link_to "Sign Up", signup_path, class: "btn btn-secondary-sm" %>
</div>