<%=form_for @holiday, :url => {:controller => params[:controller], :action => "update", :id => @holiday } do |f| %>

  <%= f.label :date %>
  <%= f.date_field :date, class: 'form-control' %>

  <%= f.label :reason %>
  <%= f.text_field :reason, class: 'form-control' %>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', admin_holidays_path %>