<table class="table table-hover">
  <tr>
    <th>Date</th>
    <th>Reason</th>
  </tr>
  <% @holidays.each do |h| %>
      <% if h.date >= Date.today %>
        <tr>
            <% if h.date == Date.today %>
               <td><strong><font color = 'green'><%= h.date %></font></strong></td>
               <td><strong><font color = 'green'><%= h.reason %></font></strong></td>
            <% else %>
               <td><%= h.date %></td>
               <td><%= h.reason %></td>
               <td><%= link_to "Edit",edit_admin_holiday_path(h) %></li></td>
               <td><%= link_to "Delete",admin_holiday_path(h), method: :delete %></li></td>
            <% end %>
        </tr>
      <%end%>
   <% end %>
</table>

<div class="left-nav">
    <ul>
      <li><%= link_to "Add",new_admin_holiday_path %></li>
    </ul>
</div>




