<%=form_for(Holiday.new, url: admin_holidays_path ) do |f| %>

  <%= f.label :date %>
  <%= f.date_field :date, class: 'form-control' %>

  <%= f.label :reason %>
  <%= f.text_field :reason, class: 'form-control' %>
  <p>
    <%= f.submit ("Submit"), class: "btn btn-primary" %>
  </p>
<% end %>
<%= link_to 'Back', admin_holidays_path %>