
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if logged_in? %>
      <%= link_to "Employee Management Portal", user_path(current_user) %>
    <% else %>
      <%= link_to "Employee Management Portal", root_path, id: "logo" %>
    <% end %>
    <nav>
      <ul class="nav nav-tabs">
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to "Dashboard", admin_index_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "List Of Holiday", admin_holidays_path, class: 'nav-link'%>
          </li>

          <li class="nav-item">
            <%= link_to "Applied Leaves", admin_applied_leaves_path, class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to "Emails", admin_emails_path, class: 'nav-link'%>
          </li>

          <li class="nav-item">
            <%= link_to "Logout", logout_path, method: "delete", class: 'nav-link' %>
          </li>

        <% else %>
          <li class="nav-item">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <%= link_to "Login", login_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>


