<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"></button>
  <h4 class="modal-title" id="myModalLabel">Student Databae</h4>
</div>
<div class="modal-body">
  Enter Your Information
  <div id = "student-atabase-form" >
  <%= render 'edit' %>
</div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary">Save</button>
</div>