<%= form_for @user do |form| %>
    <% if @user.errors.any? %>
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this information from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <p>
      <%= form.label :Name %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :Email %><br>
      <%= form.text_area :email %>
    </p>
    <p>
      <%= form.label :Phone_Number %><br>
      <%= form.text_area :mobile %>
    </p>
     <p>
      <%= form.label :password %><br>
      <%= form.password_field :password %>
    </p>

    <p>
      <%= form.label :password_confirmation %><br>
      <%= form.password_field :password_confirmation %>
    </p>
    <%= form.submit %>
  <% end %>
