<center>
  <h2 class="jumbotron">All Emails</h2>
</center>

<%= link_to new_admin_email_path, class: 'btn btn-info' do %>
  <i class='fas fa-edit'></i>Compose
<% end %>

<% if @emails.blank? %>
  <p>No Sent Emails</p>
<% else %>
  <% @emails.each do |email| %>
    <hr>
    <div class="card">
      <div class="card-header">
        <%= link_to admin_email_path(email), method: :delete, data: { confirm: "You sure to delete?" } do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
        <% end %>

        To: <%= email.receiver_email %>
        <% if email.sent? %>
          <span class="badge badge-success">Sent</span>
        <% else %>
          <span class="badge badge-warning">Not Sent</span>
        <% end %>

      </div>

      <div class="card-body">
        <h5 class="card-title"><%= email.subject %></h5>
        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample_<%= email.id%>" role="button" aria-expanded="false" aria-controls="collapseExample_<%= email.id%>">View Email</a>
        </p>

        <div class="collapse" id="collapseExample_<%= email.id%>">
          <div class="card card-body">
            <h4>Content</h4>
            <%= email.body %>
          </div>
        </div>
      </div>

    </div>
  <% end %>
  <%= will_paginate @feed_items %>
<% end %>