<center>
  <h2 class="jumbotron">Compose Email</h2>
</center>

<%= form_for [:admin, @email] do |form| %>
  <div class="form-group">
    <%= collection_select(:email, :receiver_email, @user_emails, :email, :name, prompt: true, class: 'form-control') %>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Subject</label>
    <%= form.text_field :subject, class: 'form-control'%>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Email Body</label>
    <%= form.text_area :body, class: 'form-control' %>
  </div>

  <%= form.submit 'Send Email', class: 'btn btn-primary mb-2'%>
  <%= link_to 'Cancel', admin_emails_path, class: 'btn btn-danger mb-2' %>

<% end %>