<%= form_for @user_edit, :url => {:controller => params[:controller], :action => "update", :id => @user_edit } do |form| %>
    <% if @user_edit.errors.any? %>
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this information from being saved:
      </h2>
      <ul>
        <% @user_edit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <p>
      <%= form.label :Name %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :Email %><br>
      <%= form.text_area :email %>
    </p>
    <p>
      <%= form.label :Phone_Number %><br>
      <%= form.text_area :mobile %>
    </p>
     <p>
      <%= form.label :password %><br>
      <%= form.password_field :password %>
    </p>

    <p>
      <%= form.label :password_confirmation %><br>
      <%= form.password_field :password_confirmation %>
    </p>


      <p>
          <%= form.label :Manager_Name %><br>
          <%= form.select(:manages, @selected_user.map do |i|  [User.find_by(id: i).name,User.find_by(id: i).id] end ,  {prompt: 'Select Manager'}) %>
      </p>
      <p>
        <%= form.label :Designation %><br>
        <%= form.select(:role, @roles.map do |i|  [Role.find_by(id: i).role,Role.find_by(id: i).id] end ,{prompt: 'Select Role'}) %>
      </p>
    <%= form.submit %>
  <% end %>
