<div class="container pagination justify-content-center" >
<%= will_paginate @users, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"  %>
</div>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile Number</th>
    <th>Designation</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |u|%>
    <tr>
      <td><%= u.name   %></td>
      <td><strong><%=u.email%></strong></td>
      <td><%= u.mobile %></td>
      <% if  @user_roles.find_by(user_id: u.id) %>
        <td><%= @roles.find(@user_roles.find_by(user_id: u.id).role_id).role%></td>
      <% else %>
        <td> Not Assigned </td>
      <% end %>
      <td><%= link_to 'Edit', edit_admin_user_url(u) %></td>
    </tr>
  <% end %>
</table>

<div class="container pagination justify-content-center" >
<%= will_paginate @users, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"  %>
</div>