<% provide(:title, @title) %>

<%=form_for @user do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Name</label>
      <%= f.text_field :name, class: "form-control" %>

    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Email</label>
       <%= f.email_field :email, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputAddress2">Mobile</label>
    <%= f.text_field :mobile, class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="inputAddress">Password</label>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="inputAddress2">Confirm Password</label>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

<%= f.submit "Create My Account", class: "btn btn-primary" %>
<% end %>