<h3> Personal Information </h3>
<table border = '1'>
  <tr>
    <td>Name</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
   <td>Email</td>
   <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>Mobile Number</td>
    <td><%= @user.mobile %></td>
  </tr>
  <tr>
    <td>Designation</td>
    <td></td>
  </tr>
</table>
<br>

<% if @manager_ids.include?(@user.id)%>
      <h3> Assigned Employees Information </h3>
      <table border = 1>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile Number</th>
        </tr>
        <% @assign_ids.uniq!.each do |u|%>
        <tr>
          <td><%= @users.find(u).name   %></td>
          <td><%= @users.find(u).email  %></td>
          <td><%= @users.find(u).mobile %></td>
        </tr>
        <% end %>
      </table>
<% else %>
      <% if @employee_ids.include?(@user.id) %>
        <h3> Manager Information </h3>
        <table border = '1'>
          <tr>
            <td>Name</td>
            <td><%= @manager_info.name %></td>
          </tr>
          <tr>
             <td>Email</td>
             <td><%= @manager_info.email %></td>
          </tr>
          <tr>
            <td>Mobile Number</td>
            <td><%= @manager_info.mobile %></td>
          </tr>
        </table>
      <% else %>
          <h3> Please Add Manager's Name</h3>
          <p>
            <%= form_for @user do |form| %>
             <p>
              <%= form.select(:manages, @manager_ids.map do |i|  [User.find_by(id: i).name,User.find_by(id: i).id] end ,{prompt: 'Select Person'}) %>
             </p>
             <p>
             <%= form.submit "Enter"%>
             </p>
            <% end %>
          </p>
      <% end %>
<% end %>

