<header class='clearfix'>
  <div class="left-nav">
    <ul>
      <li><%= link_to "Users", admin_users_path %></li>
    </ul>
  </div>
  <div class="left-nav">
    <ul>
      <li><%= link_to "Holiday",admin_holidays_path %></li>
    </ul>
  </div>
</header>



