<head>
  <title>Employee Management Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
     <% if logged_in? %>
       <%= link_to "Employee Management Portal", user_path(current_user) %>
     <% else %>
       <%= link_to "Employee Management Portal", root_path, id: "logo" %>
    <% end %>
    <nav>
      <ul class="nav nav-tabs">
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to "Home", user_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Leaves", user_upcoming_leaves_path(current_user), class: 'nav-link' %>
          </li>

          <% if @designation == "Admin"%>
            <li class="nav-item">
              <%= link_to "Admin panel", admin_path, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "List of holidays", holiday_path, class: 'nav-link' %>
            </li>
          <% end %>
         <li class="nav-item">
            <%= link_to "Logout", logout_path, method: "delete", class: 'nav-link' %>
          </li>
    <% else %>
          <li class="nav-item">
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <%= link_to "Login", login_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>


