<!DOCTYPE html>
<html>
  <head>
    <title>Admin | Employee Management Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/admin/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <% message_type = message_type == 'notice' ? 'success' : message_type%>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
